.page {
  display: flex;
  flex-direction: row; /* Change to row for side-by-side layout */
  align-items: center;
  justify-content: space-between; /* Space between left and right containers */
  min-height: 100vh;
  background-color: white;
  color: #000;
}

.leftContainer {
  flex: 1; /* Allow left container to take available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
}

.rightContainer {
  flex: 1; /* Allow right container to take available space */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the end */
}

.main {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #0070f3; /* Blue color */
}

.ctas {
  margin: 20px 0;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.primary {
  background-color: #0070f3; /* Blue color */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}


.secondary {
  background-color: white;
  color: #0070f3; /* Blue color */
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #0070f3; /* Blue border */
  border-radius: 5px;
}
